<div class="playground-container" [style]="markParent">
  <div class="playground-helper">
    <animated-banner-component
      *ngIf="params && _reloaded"
      [animation]="params.animation"
      [background]="params.background"
      [matchParent]="params.matchParent"
      [color]="params.color"
      [height]="params.height"
      [width]="params.width"
      [text]="params.text"
      [animationParams]="params"
    ></animated-banner-component>
    <div
      *ngIf="params?.matchParent"
      class="playground-helper__resizer"
    >
      <h3>Parent container width</h3>
      <div class="playground-helper__buttons">
        <button class="btn btn-primary" disabled>-</button>
        <button class="btn btn-primary" disabled>+</button>
      </div>
    </div>
  </div>
</div>
<app-params
  [style.right]="showParams ? '0' : ' -500px'"
  (paramEmitter)="onParamEmitted($event)"
></app-params>

