<div class="playground-container">
  <animated-banner-component
    *ngIf="params && _reloaded"
    animation="{{params.animation}}"
    autosize="{{params.autosize}}"
    background="{{params.background}}"
    color="{{params.color}}"
    fontsize="{{params.fontsize}}"
    height="{{params.height}}"
    loop="{{params.loop}}"
    text="{{params.text}}"
    textposition="{{params.textposition}}"
    width="{{params.width}}"
  ></animated-banner-component>
</div>
<app-params
  [style.right]="showParams ? '0' : ' -400px'"
  (paramEmitter)="onParamEmitted($event)"
></app-params>

