<mat-toolbar color="primary" class="main-toolbar">
  <button
    [matTooltip]="menuDrawerVisibility ? 'Hide menu' : 'Show menu'"
    (click)="toggleMenuDrawer()"
    mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <button
    style="visibility: hidden"
    matTooltip="Show generated code"
    (click)="showCodeDialog()"
    mat-icon-button>
    <mat-icon>code</mat-icon>
  </button>
  <span class="title-bar-spacer"></span>
  <span>Animated Banner Editor v.{{version}}</span>
  <span class="title-bar-spacer"></span>
  <button
    matTooltip="Restart animation"
    (click)="restartAnimation()"
    mat-icon-button>
    <mat-icon>replay</mat-icon>
  </button>
  <button
    [matTooltip]="paramsDrawerVisibility ? 'Hide parameters' : 'Show parameters'"
    (click)="toggleParamsDrawer()"
    mat-icon-button>
    <mat-icon>code</mat-icon>
  </button>
</mat-toolbar>
