<div class="compound-param-container" style="padding-top: 12px">
  <mat-form-field appearance="outline">
    <mat-label>Animation</mat-label>
    <mat-select [(ngModel)]="params.animationName" (ngModelChange)="onUpdate(); getAnimationParams();">
      <mat-option *ngFor="let animation of availableAnimationNames" [value]="animation">{{animation}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<ng-container *ngIf="animationParams">
  <ng-container *ngFor="let key of animationParamsKeys">

    <!---IMAGE/COLOR-->
    <div
      *ngIf="animationParams[key].type==='image'"
      class="compound-param-container ">
      <mat-form-field appearance="outline">
        <mat-label>{{animationParams[key].label}}</mat-label>
        <mat-select [(ngModel)]="customParams[key]" (ngModelChange)="applyCustomImage(key); onUpdate()">
          <mat-option value="assets/media/philips-oneblade-h.png">philips oneblade</mat-option>
          <mat-option value="assets/media/philips-shaver-h.png">philips shaver</mat-option>
<!--          <mat-option value="customBackgroundColor" disabled >custom color</mat-option>-->
          <mat-option value="customBackgroundImage" >custom local file</mat-option>
          <mat-option value="customUrlBackgroundImage" >URL</mat-option>
        </mat-select>
      </mat-form-field>
<!--      <ngx-colors-->
<!--        *ngIf="params[key] === 'customBackgroundColor'"-->
<!--        class="compound-param-child" ngx-colors-trigger-->
<!--        [(ngModel)]="customBackgroundColor" (ngModelChange)="onUpdate()">-->
<!--      </ngx-colors>-->
      <label *ngIf="customParams[key] === 'customBackgroundImage'"
             class="no-margin compound-param-child custom-file-upload">
        <input type="file" accept="image/*" (change)="onImageFileUpload($event, key)">
        Choose file
      </label>
      <label *ngIf="customParams[key] === 'customUrlBackgroundImage'"
             class="no-margin compound-param-child custom-file-url-input">
        <input type="text" (change)="onImageUrlEntered($event, key)" style="border: none">
      </label>
    </div>

    <!---STRING-->
    <mat-form-field *ngIf="animationParams[key].type==='string'" appearance="outline">
      <mat-label>{{animationParams[key].label}}</mat-label>
      <input matInput [(ngModel)]="params[key]" (ngModelChange)="onUpdate()">
    </mat-form-field>

    <!---NUMBER-->
    <mat-form-field *ngIf="animationParams[key].type==='number'" appearance="outline">
      <mat-label>{{animationParams[key].label}}</mat-label>
      <input matInput type="number" [(ngModel)]="params[key]" (ngModelChange)="onUpdate()"
             [min]="animationParams[key]['min']" [max]="animationParams[key].max">
    </mat-form-field>

    <!---SELECT-->
    <mat-form-field *ngIf="animationParams[key].type==='select'" appearance="outline">
      <mat-label>{{animationParams[key].label}}</mat-label>
      <mat-select [(ngModel)]="params[key]" (ngModelChange)="onUpdate()">
        <mat-option *ngFor="let option of animationParams[key].options"
                    [value]="option"
        >{{option}}</mat-option>
      </mat-select>
    </mat-form-field>

    <!---COLOR-->
    <div
      *ngIf="animationParams[key].type==='color'"
      class="compound-param-container">
      <mat-form-field appearance="outline">
        <mat-label>{{animationParams[key].label}}</mat-label>
        <mat-select [(ngModel)]="customParams[key]" (ngModelChange)="applyCustomColor(key); onUpdate()">
          <mat-option value="black">black</mat-option>
          <mat-option value="white">white</mat-option>
          <mat-option value="#666">gray</mat-option>
          <mat-option value="yellow">yellow</mat-option>
          <mat-option value="orange">orange</mat-option>
          <mat-option value="red">red</mat-option>
          <mat-option value="lightblue">light blue</mat-option>
          <mat-option value="customColor">custom color</mat-option>
        </mat-select>
      </mat-form-field>
      <ngx-colors
        *ngIf="customParams[key] === 'customColor'"
        class="compound-param-child" ngx-colors-trigger
        [(ngModel)]="params[key]" (ngModelChange)="onUpdate()">
      </ngx-colors>
    </div>

    <!---BOOLEAN-->
    <div
      *ngIf="animationParams[key].type==='boolean'"
      class="compound-param-container slide-toggle__spacing">
      <mat-slide-toggle
        [(ngModel)]="params[key]"
        (ngModelChange)="onUpdate()">
        <span class="slide-label-span">{{animationParams[key].label}}</span>
      </mat-slide-toggle>
    </div>

  </ng-container>
</ng-container>
