<h4 matTooltip="Params of component - common for all animations">
  Component params
  <mat-icon aria-hidden="false" class="tooltip-icon" aria-label="Params of component - common for all animations"
            fontIcon="information"></mat-icon>
</h4>

<div class="compound-param-container ">
  <mat-form-field appearance="outline">
    <mat-label>Background</mat-label>
    <mat-select [(ngModel)]="params.background" (ngModelChange)="onUpdate()">
      <mat-option value="url('assets/media/corollaSedan_1000x750.jpg')">Corolla Sedan</mat-option>
      <mat-option value="url('assets/media/corollaHatchback_1000x750.jpg')">Corolla Hatchback</mat-option>
      <mat-option value="url('assets/media/yarsCross_1000x750.jpg')">Yaris Cross</mat-option>
      <mat-option value="url('assets/media/sky.jpg')">Sky by night</mat-option>
      <mat-option value="white">white</mat-option>
      <mat-option value="customBackgroundColor">custom color</mat-option>
      <mat-option value="customBackgroundImage">custom local file</mat-option>
      <mat-option value="customUrlBackgroundImage">URL</mat-option>
    </mat-select>
  </mat-form-field>
  <ngx-colors
    *ngIf="params.background === 'customBackgroundColor'"
    class="compound-param-child" ngx-colors-trigger
    [(ngModel)]="customBackgroundColor" (ngModelChange)="onUpdate()">
  </ngx-colors>
  <label *ngIf="params.background === 'customBackgroundImage'"
         class="no-margin compound-param-child custom-file-upload">
    <input type="file" accept="image/*" (change)="onFileUpload($event)">
    Choose file
  </label>
  <label *ngIf="params.background === 'customUrlBackgroundImage'"
         class="no-margin compound-param-child custom-file-url-input">
    <input type="text" (change)="onUrlEntered($event)" style="border: none">
  </label>

</div>

<div class="flex-controls-container">
  <mat-form-field appearance="outline" style="max-width: 120px">
    <mat-label>Width</mat-label>
    <input matInput type="number" [(ngModel)]="params.width" (ngModelChange)="onUpdate()">
  </mat-form-field>

  <mat-form-field appearance="outline" style="max-width: 120px">
    <mat-label>Height</mat-label>
    <input matInput type="number" [(ngModel)]="params.height" (ngModelChange)="onUpdate()">
  </mat-form-field>

  <div class="compound-param-container" style="max-width: 140px">
    <div
      matTooltip="Component will match width of a parent container"
      style="display: flex">
      <mat-label
        class="mat-slide-toggle-label"
      >Match parent
      </mat-label>
      <mat-icon aria-hidden="false" class="tooltip-icon" style="top: -6px; left: -20px"
                aria-label="Component will match width of a parent container"
                fontIcon="information"></mat-icon>
    </div>
    <mat-slide-toggle
      [(ngModel)]="params.matchParent"
      (ngModelChange)="onUpdate()">
    </mat-slide-toggle>
  </div>
</div>

<ng-container
  *ngFor="let paramsSet of paramsList; let i = index">

  <details
    [open] = "open[i]">
    <summary>
      <div style="display:flex;">
        <mat-icon style="position: relative; top: 7px" >expand_more</mat-icon>
        <h4 matTooltip="Params of animation - can be different for each animation">
          Animation params #{{i + 1}}
          <mat-icon
            aria-hidden="false" class="tooltip-icon"
            aria-label="Params of animation - can be different for each animation"
            fontIcon="information">
          </mat-icon>
        </h4>

        <button
          *ngIf="i !== 0"
          style="position: relative; top: -5px; color: #666"
          mat-icon-button
          (click)="removeAnimation(i)"
          matTooltip="Remove this animation">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </summary>

    <app-animation-params
      [params]="paramsSet"
      (onParamsChange)="onParamsChange($event)">
    </app-animation-params>
  </details>

</ng-container>


<button mat-stroked-button (click)="addNextAnimation()">Add next animation</button>
