:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: white;
  position: fixed;
  right: 0;
  top: 64px;
  width: 400px;
  height: 100%;
  border-left: 1px solid #ddd;
  z-index: 0;
  padding: 20px;
  transition: right 250ms;
}
