:host {
  background: white;
  position: fixed;
  right: 0;
  top: 64px;
  width: 500px;
  height: calc(100% - 64px);
  border-left: 1px solid #ddd;
  z-index: 0;
  padding: 20px;
  transition: right 250ms;
  overflow-y: auto;

  .flex-controls-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-between;
    justify-content: space-between;
    align-items: stretch;
  }

  .compound-param-container {
    position: relative;
    width: 100%
  }

  .slide-toggle__spacing {
    margin-bottom: 24px;
  }

  .compound-param-child {
    position: absolute;
    bottom: 35px;
    right: 35px;
  }

  .compound-param-button {
    position: absolute;
    top: 10px;
    height: 30px;
  }

  input[type="file"] {
    display: none;
  }

  .custom-file-url-input {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 370px;
    font-size: 14px;
    font-weight: 400;
    bottom: 34px;

    input {
      width: 365px;
      height: 30px;
    }
  }

  .custom-file-upload {
    border: 1px solid #ccc;
    border-radius: 5px;
    display: inline-block;
    padding: 4px 12px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
  }

  .custom-file-upload:hover {
    background: #eee;
  }

  .mat-slide-toggle-label {
    display: block;
    font-size: 16px;
    transform: translate(-12px, -8px) scale(0.75);
    color: rgba(0, 0, 0, 0.6)
  }

  .slide-label-span {
    font-weight: normal;
    color: rgba(0, 0, 0, 0.6);
    display: inline-block;
    margin-top: 8px;
    margin-left: 8px;
  }
}
