<h1 mat-dialog-title>How to implement</h1>
<div mat-dialog-content style="overflow: hidden">
  <mat-tab-group>
    <mat-tab label="Plain Javascript">
      <hr/>
      <h3>Steps to implement on a website that uses plain Javascript - with animated-banner downloaded locally:</h3>
      <div class="instructions">
        <app-plain-js-tab [elementId]="elementId" [data]="data"></app-plain-js-tab>
      </div>
    </mat-tab>
    <mat-tab label="CDN">
      <hr/>
      <h3>Steps to implement on a website that uses plain Javascript - with animated-banner imported from CDN:</h3>
      <div class="instructions">
        <app-cdn-tab [elementId]="elementId" [data]="data"></app-cdn-tab>
      </div>
    </mat-tab>
    <mat-tab label="NPM">
      <hr/>
      <h3>Steps to implement on a website that uses NPM:</h3>
      <div class="instructions">
        <app-npm-tab [elementId]="elementId" [data]="data"></app-npm-tab>
      </div>
    </mat-tab>
    <mat-tab label="Angular">
      <hr/>
      <h3>Steps to implement in Angular application:</h3>
      <div class="instructions">
        <app-angular-tab [data]="data"></app-angular-tab>
      </div>
    </mat-tab>
    <mat-tab label="React">
      <hr/>
      <h3>Steps to implement in React application:</h3>
      <div class="instructions">
        <app-react-tab [data]="data"></app-react-tab>
      </div>
    </mat-tab>
    <mat-tab label="Vue">
      <hr/>
      <h3>Steps to implement in Vue application:</h3>
      <div class="instructions">
        <app-vue-tab [data]="data"></app-vue-tab>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
<div mat-dialog-content>
  <button mat-flat-button color="accent" mat-dialog-close>Ok</button>
</div>
