/* You can add global styles to this file, and also import other style files */

html, body { height: 100vh; max-height: 100vh; overflow: hidden}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-mdc-form-field-type-mat-input,
.mat-mdc-form-field-type-mat-select {
  width: 100% !important;
}

.no-margin {
  margin: 0 !important;
}

.tooltip-icon {
  font-size: 18px;
  color: #666;
  cursor: pointer;
}
