/* You can add global styles to this file, and also import other style files */

html, body { height: 100vh; max-height: 100vh; overflow: hidden}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-mdc-form-field-type-mat-input,
.mat-mdc-form-field-type-mat-select {
  width: 100% !important;
}

.no-margin {
  margin: 0 !important;
}

.tooltip-icon {
  font-size: 18px;
  color: #666;
  cursor: pointer;
  position: relative;
  top: 5px;
}

.code {
  font-family: monospace;
  font-size: 14px;
  background-color: #eee;
  padding: 5px;
  border-radius: 4px;
  margin: 5px 0;
  width: 100%;
  word-break: break-all;

  //&:hover {
  //  background-color: #ddd;
  //  cursor: pointer;
  //}
}
