/* You can add global styles to this file, and also import other style files */

html, body { height: 100vh; max-height: 100vh; overflow: hidden}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-mdc-form-field-type-mat-input,
.mat-mdc-form-field-type-mat-select {
  width: 100% !important;
}

.no-margin {
  margin: 0 !important;
}

.tooltip-icon {
  font-size: 18px;
  color: #666;
  cursor: pointer;
  position: relative;
  top: 10px;
}

.code {
  font-family: monospace;
  font-size: 14px;
  background-color: #eee;
  padding: 5px;
  border-radius: 4px;
  margin: 5px 0;
  width: 100%;
  word-break: break-all;
  overflow-x: hidden;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  cursor: default;
}

.mat-mdc-snack-bar-container {
  &.success-snackbar {
    --mdc-snackbar-container-color: #4caf50;
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
  }
}

.mat-mdc-snack-bar-container {
  &.error-snackbar {
    --mdc-snackbar-container-color: #f44336;
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
  }
}

.mat-mdc-snack-bar-container {
  &.info-snackbar {
    --mdc-snackbar-container-color: #eee;
    --mat-mdc-snack-bar-button-color: #666;
    --mdc-snackbar-supporting-text-color: #666;
  }
}

